@charset "utf-8";
/* CSS Document */
*{ margin:0px;
}


#imagen{
	width: 150px;
	height: 120px;
}

#cabecera{ 
position:relative;
	background: #474c5a;
	padding-left:155px;
	height: 40px;
		}
#cen{
    background: #474c5a;
	position: fixed;
	font-family:Arial, Helvetica, Verdana; 
				height: 150px;
	         width:100%;
			overflow:hidden;
			
			-webkit-box-shadow: inset 0px 0px 151px -31px rgba(0,0,0,0.75);
			-moz-box-shadow: inset 0px 0px 151px -31px rgba(0,0,0,0.75);
			box-shadow: inset 0px 0px 151px -31px rgba(0,0,0,0.75);
		}
		
#cont{
		height:auto;
		width:auto;
		position:relative;
	}
#contenido{
	position:relative;
}
.iconos{
width: 80px;
    height: 100px;
}
.botonera
{
	padding:5px;
	width: 100px;
	height:100px;
	float:left;
	position:center;
	margin-left:2%;
	cursor: pointer;
}
img.icon{
	display: block;
    margin: 0px;
	width:130px;
    height: 100px;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	
}
img.iconss{
	display: block;
	margin:1px auto;
	width:80%;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	
}
.icons{
	width: 30px;
	height: 30px;
}
.texto{
	font-size: 2em;
	font-family: Arial, Helvetica, Verdana; 
	color:white;
	text-align: center;
	text-decoration: none;
}
p.textox{
	font-size: 14px;
	color:white;
	padding-top: 20%;
	text-align: center;
	font-weight: bold;
}
body{
margin:0px; 
font-family:Arial, Helvetica, Verdana; 
 background: #39414A;
}
.marca{
	margin-top: 15%;
	width: 270px;
	height: 170px;
	float: left;
	padding: 5px;
	margin-left: 7%;
	background: #FFF;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
.marcax{
	margin-top: 15%;
	width: 14%;
	height: 20%;
	float: left;
	padding: 1%;
	margin-left: 7%;
	background: #FFF;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

.marcas{
	margin: 15%;
	width: auto;
	height: auto;
	float: left;
	padding: 5px;
	background: #FFF;
	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
#carreras{
width: 240px;
height: 140px;
padding: 15px;
background: #0674AF;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-align: center;
cursor: pointer;
}
.cuadro{
	width: 80%;
height: 75%;
margin: 2px;
    padding: 15px;
			-webkit-box-shadow: inset 0px 0px 151px -31px rgba(0,0,0,0.75);
			-moz-box-shadow: inset 0px 0px 151px -31px rgba(0,0,0,0.75);
			box-shadow: inset 0px 0px 151px -31px rgba(0,0,0,0.75);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align: center;
cursor: pointer;
    background:  #474c5a;
}
.cuadrobeca{
    
width: 240px;
height: 140px;
padding: 15px;
background: #0674AF;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-align: center;
cursor: pointer;
}
.cuadroempleo{
width: 240px;
height: 140px;
padding: 15px;
background: #0674AF;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-align: center;
cursor: pointer;
}
.cuadrocertificacion{
width: 240px;
height: 140px;
padding: 15px;
background: #0674AF;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-align: center;
cursor: pointer;
}
.cuadroseminario{
width: 240px;
height: 140px;
padding: 15px;
background: #0674AF;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-align: center;
cursor: pointer;
}
.cuadrojunta{
width: 240px;
height: 140px;
padding: 15px;
background: #0674AF;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-align: center;
cursor: pointer;
}
.cuadroaviso{
width: 240px;
height: 140px;
padding: 15px;
background: #0674AF;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-align: center;
cursor: pointer;
}
.cuadrootro{
width: 240px;
height: 140px;
padding: 15px;
background: #0674AF;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-align: center;
cursor: pointer;
}

p.xxx{
	font-family:Arial, Helvetica, sans-serif;
	font-style:oblique;
	
}
p.xxxx{
	font-family:Arial, Helvetica, sans-serif;
	font-style:oblique;
	font-weight: bold;
	color: blue;
}
#contenedorsillo{
margin-top: 5%;
}
#contenedor{

width: auto;
height: auto;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-align: left;


}
#anuncio{
text-align: center;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
text-align: center;
padding: 20px;
width: auto;height: auto;
}
#infobajo{
	float: auto;
}
#infor{
	width: 50%;
	margin: 10%;
	margin-right: 20%;
	float: right;
}
#bajo1{
	width: 60%;
}

table{
    border-collapse: collapse;
        border-spacing: 0;
	width:90%;
	height:auto;
	margin:0px;padding:0px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
tr{
	width: 100%;
}
#qrs{
	
	border-width:0px 0px 0px 0px;
}
 #bajar1 td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:1px 1px 1px 1px;
	text-align:center;
	padding:10px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	
}
.text111{
	font-family: Arial, Helvetica, Verdana; 
	font-size: 4em;
	margin: 20px;
	color: white;
	text-decoration: none;

}
#atrassss{
	width: 100%;
	height: 120px;
	overflow:hidden;
			background: #474c5a;
			-webkit-box-shadow: inset 0px 0px 151px -31px rgba(0,0,0,0.75);
			-moz-box-shadow: inset 0px 0px 151px -31px rgba(0,0,0,0.75);
			box-shadow: inset 0px 0px 151px -31px rgba(0,0,0,0.75);

}
#back{
	float: right;
	top: 1.2%;
	margin-left: 94%;
	text-decoration: none;
	position: absolute;
}
.text1{
	color: white;
}
#tituu{
	width: auto;
	height: auto;
}
#bajo3{
	width: 100%;
	height: 5%;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 15px;
}

#qrimg{
	
	margin-left: 50%;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width: 120px;
height: 120px;


}

