body{
    font-family: VERDANA;
	background-image: url("../imagenes/textura-back.jpg");
}

#Log{
	width: 250px;
	height: 350px;
        background: #474c5a;
	padding: 10px;
	 position: absolute;
	
    -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
    -webkit-box-shadow: 2px 6px 28px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    2px 6px 28px 0px rgba(50, 50, 50, 0.75);
box-shadow:         2px 6px 28px 0px rgba(50, 50, 50, 0.75);
  
}
#log{
    position: auto;
    width: 270px;
   
    -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
#tit{
	opacity: .6;
	color: #FFF;
}
#Log a{
	opacity: .5;
	color: #FFF;
	
}
#fac{
	width: 250px;
	height: 50px;
	
}
#logo{
 width: 250px;
 height: 350px;
 border-radius: 10px;
 margin-left: 0px;
 margin-left: 500px;
}
#contenedor{
width: 250px;
	height: 300px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 15%;

}
input{
	border-radius: 5px;
	border: none;
	width: 180px;
	height: 50px;
	color: #0066CC;
	background: #FFF;
	font-weight: bold;
}