body{
    font-family: VERDANA;
	background-image: url("../imagenes/textura-backinicio.jpg");
}

#Log{
    font-family: VERDANA;
	width: 250px;
	height: 250px;
    background: #ed9600;
	 position: absolute;
    -webkit-box-shadow: 2px 6px 28px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    2px 6px 28px 0px rgba(50, 50, 50, 1);
box-shadow:         2px 6px 28px 0px rgba(50, 50, 50, 1);
}

#logg{
    position: fixed;
    top:0px;
    width: 675px;
    height: 500px;
margin-left: 25%;
}

#Log a{
	opacity: .5;
	color: #FFF;
	
}
#fac{
	width: 230px;
	height: 50px;
    margin: 10px;
	font-family: VERDANA;
}

#contenedor{
    width: 250px;
	height: 300px;
    position: absolute;
margin-left: 40%;
    top:25%;
}
input{
	border: none;
	width: 150px;
	height: 50px;
	color: #0066CC;
	background: #FFF;
	font-weight: bold;
}
.botones{
position: relative;
	width: 250px;
    overflow: hidden;
	height: auto;
	margin-top: 40px;
background: #28AD56;  }
.boton:hover{
    color:#28AD56;  
    background: white;
}
.boton{
	width: 270px;
	height:50px;
	border:none;
	color:white;
	padding:4px;
	cursor:pointer;
	font-weight: bold;
    font-family: VERDANA;
    background: #28AD56;
   
}