
@font-face {
  font-family: 'fuente';
   src: url('Roboto-Regular.eot'),
  url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: 'fuente';
	background-image: url("../imagenes/textura-backinicio.jpg");
}
#Log{
    font-family: 'fuente';
	width: 450px;
	height: 250px;
    background: #ed9600;
	 position: absolute;
    -webkit-box-shadow: 2px 6px 28px 0px rgba(50, 50, 50, 1);
-moz-box-shadow:    2px 6px 28px 0px rgba(50, 50, 50, 1);
box-shadow:         2px 6px 28px 0px rgba(50, 50, 50, 1);
}

#logg{
    position: fixed;
    top:0px;
    width: 975px;
    height: 700px;
margin-left: 26%;
margin-top: 10%;
}

#Log a{
	opacity: .5;
	color: #FFF;
	
}
#fac{
	width: 330px;
	height: 50px;
    margin: 10px;
	font-family: 'fuente';
}

#contenedor{
    width: 450px;
	height: 580px;
    position: absolute;
	margin-left: 40%;
    top:45%;
}
input{
	border: none;
	width: 150px;
	height: 50px;
	color: #0066CC;
	background: #FFF;
	font-weight: bold;
}
.botones{
position: relative;
	width: 250px;
    overflow: hidden;
	height: auto;
	margin-top: 40px;
background: #28AD56;  }
.boton:hover{
    color:#28AD56;  
    background: white;
}
.boton{
	width: 270px;
	height:50px;
	border:none;
	color:white;
	padding:4px;
	cursor:pointer;
	font-weight: bold;
    font-family: 'fuente';
    background: #28AD56;
   
}