@charset "utf-8";
/* CSS Document */
*{ 
margin:0px
}

.et{
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.3em;
	color:#FFF;
	height:85px;
	list-style:none;
	list-style-position:inside;
	float:left;
	position:relative;
}
p.textox{
display: inline-block;
width: 15%; 
box-sizing: border-box;
color: #fff;
text-decoration: none;
padding-top:30px;
padding-left:20px;
}


p.texp{
	font-size:2em;
	color:white;
	text-align: center;
	padding-top:px;
	opacity: 1;
	float:center;
	position:center;
text-decoration:none;	
}

.eti{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFF;
	height:80px;
	width:150px;
	background:#069;
	cursor:pointer;
	list-style:none;
	text-decoration:none;
}
p.texto{
	font-size:.9em;
	color:white;
	font-style:normal;
	font-stretch:condensed;
	text-align: center;
	padding-top:10px;
	opacity: .6;
	text-decoration:none;
	}

	
#menutop{
position: relative;
overflow: hidden;
width: 100%;
margin:opx;
background:#F60;
text-align:center;
	}

.menu li {
	text-decoration:none;
	width:70px;
	height:30px;
	margin-right:80px;
	} 
	
.menu ul ul { 
position: absolute; 
top: 0; 
left: 100%; 
width: 300px; 
text-decoration:none;
} 

<!--Imagenes-->

#volver{
	width:100px;
	height:100px;
	background:#F60;
	margin:0px;	
	padding:50px;
}
	
	img.icon{
	display: block;
	background-color: rgba(255,255,255,.15);
	margin:0px;
	width:40px;
	padding:20px;
	opacity:.5;
	float:right;
}
<!--Contenido de Vistas-->
body, div, ul, li, img {
	margin: 0; padding: 0; border: 0;
}

#slideshow {
	width:100%;
	height:1400px;
	background:#FFFFFF;
	border:1px solid #FFF;
	-moz-border-radius: 15px;
	-webkit-border-radius:15px;
	overflow-x:scroll; 
	overflow-y:hidden;
	margin:30px auto 10px auto;
	box-shadow: 0px 0px 80px #000;
	-moz-box-shadow: 0px 0px 80px #000;
	-webkit-box-shadow: 0px 0px 80px #000;
}

#slideshow ul {
	width:4590px;
	list-style:none;
}

	#slideshow ul li {
	float: left;
}

#slideshow-nav {
	margin:auto;
	visibility:hidden;
}

#slideshow-nav ul {
	list-style:none;
}

#slideshow-nav ul li {
	float:left;
}


